body
    ul
        li.box.content
            min-width: 250px
            +transition(transform .23689s ease-in-out)
            animation-count: 1
            &:last-of-type
                margin-bottom: 1.5rem
            &:not(.loading):hover
                z-index: 10
                animation-name: swing
        .highlight.active
            animation: tada 1s linear infinite
            z-index: 11
            p
                color: inherit